* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  display: flex;
  justify-content: center;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-primary);
}

#root {
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: var(--text-primary);

  &:hover {
    color: var(--text-secondary);
  }
}

h1 {
  font-size: calc(24px + 48 * (100vw / 1280));
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: var(--text-primary);
  padding: 5px 0;
  margin: 0;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
